
          /* #logo{
          }
       */
       #h{
        color: crimson;
       }

          body{
            background-color: #ebeff5;
          }
      
      
          #total-cattles{
            background-color: #4cb4c7;
          }
      
      
          #pregnant-count{
            background-color: #7abecc;
          }
      
          #sick-count{
            background-color: #7CD1C0;
          }
        